<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <title>冥歌海墟</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{pluginResources}}/Template/slash/slash.css">
    <link rel="preload" href="{{pluginResources}}/fonts/Guruwords.ttf" as="font" />
</head>

<body id="body" {{sys.scale}}>
    <div>
        <div id="account">
                <div id="logo">
                    <img src="{{userInfo.avatar}}" alt="Logo" />
                </div>
            <div id="user-name">{{userInfo.name}}</div>
            <div id="user-uid"> {{userInfo.uid}}</div>
        </div>
        
        <div class="tower-body">
            <div class="info-bar">
                <div>剩余时间: {{leftTime}}</div>
                <div>总积分: {{allScore}}/{{maxScore}}</div>
            </div>

            {{each challengeList challenge index}}
            <div class="tower-area">
                <span class="tower-name">{{challenge.challengeId}}. {{challenge.challengeName}}</span>
                <span class="tower-star"><img src="{{pluginResources}}/Template/slash/imgs/{{challenge.rank}}.png" class="rank-icon" onerror="this.style.display='none'"> 积分: <span class="score">{{challenge.score}}</span></span>
            </div>

            {{each challenge.halfList half idx}}
            <div class="floor-list" style="background-image: url({{challenge.detailPageBG}});">
                <div class="floor-name">队伍{{['一','二'][idx] || (idx + 1)}}</div>
                
                    {{each half.roleList role}}
                    <div class="team-roles">
                        <div class="role" style="border: 2px solid var(--star{{role.star}}-color);">
                            <img src="{{role.iconUrl}}" alt="角色"/>
                        </div>
                    </div>
                    {{/each}}

                    <img src="{{half.buffIcon}}" alt="artifact" class="artifact-icon" style="border-bottom: 3px solid var(--star{{half.buffQuality}}-color);" />

                    <div class="team-score">{{half.score}}</div>
                </div>
                {{/each}}
                {{/each}}
            </div>
        
        <div id="copyright">{{@copyright}}</div>
    </div>


</body>

</html>
