<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <title>{{charName}}声骸评分 · {{updateTime}}</title>
    <link rel="shortcut icon" href="#" />
    <link rel="stylesheet" type="text/css" href="{{pluginResources}}/Template/ranking/charRank.css" />
    <link rel="preload" href="{{pluginResources}}/fonts/Guruwords.ttf" as="font" />
</head>

<body id="body" {{sys.scale}}>
    <div id="box">
        <div id="header">
            <div id="user-name">{{charName}}声骸评分 · {{ rankType }}排名</div>
            <div id="user-uid">更新时间: {{ updateTime }}</div>
        </div>
        <div id="container-1">
            <ul>
                <li>
                    <div class="center">排名</div>
                    <div class="center">角色</div>
                    <div class="center">武器</div>
                    <div class="center">UID</div>
                    <div class="center">声骸</div>
                </li>
                {{each roleList entry idx}}
                <li class="{{entry.rank <= 3 ? 'top-' + entry.rank : ''}} {{entry.isCurrentUser ? 'highlighted-row' : ''}}">
                    <div class="rank-number center">{{entry.rank}}</div>
                    <div class="role center">
                        <div class="level">
                            Lv{{entry.level}}
                        </div>
                        <div class="role-pic">
                            <img src="{{entry.roleIconUrl}}" onerror="this.style.display='none'">
                        </div>
                        <div class="reson reson-{{entry.chainCount}}">
                            {{entry.chainCount}}
                        </div>
                        <div class="name">
                            {{entry.roleName}}
                        </div>
                    </div>
                    <div class="weapon center">
                        <div class="level">
                            Lv{{entry.weaponData.level}}
                        </div>
                        <div class="weapon-pic">
                            <img src="{{entry.weaponData.weapon.iconUrl}}" onerror="this.style.display='none'">
                        </div>
                        <div class="reson reson-{{entry.weaponData.resonLevel}}">
                            {{entry.weaponData.resonLevel}}
                        </div>
                        <div class="name">
                            {{entry.weaponData.weapon.weaponName}}
                        </div>
                    </div>
                    <div class="uid center {{entry.isCurrentUser ? 'current-user' : ''}}">
                        {{entry.uid}}
                    </div>
                    <div class="phantom center">
                        <div class="phantom-pic">
                            {{if entry.phantomData.equipPhantomList[0]}}
                                <img src="{{entry.phantomData.equipPhantomList[0].phantomProp.iconUrl}}" onerror="this.style.display='none'">
                            {{else}}

                            {{/if}}
                        </div>
                        <div class="phantom-rank" style="background-color: {{entry.phantomData.statistic.color}};">
                            {{entry.phantomData.statistic.rank}}
                        </div>
                        <div class="phantom-score">
                            {{typeof entry.phantomData.statistic.totalScore === 'number' ?
                            entry.phantomData.statistic.totalScore.toFixed(2) : entry.phantomData.statistic.totalScore}}
                        </div>
                    </div>
                </li>
                {{/each}}
                
                {{if showCurrentUserRow}}
                {{each currentUserRows row rowIdx}}
                <li class="highlighted-row">
                    <div class="rank-number center">
                        {{@row.rank}}
                    </div>
                    <div class="role center">
                        <div class="level">
                            Lv{{row.level}}
                        </div>
                        <div class="role-pic">
                            <img src="{{row.roleIconUrl}}" onerror="this.style.display='none'">
                        </div>
                        <div class="reson reson-{{row.chainCount}}">
                            {{row.chainCount}}
                        </div>
                        <div class="name">
                            {{row.roleName}}
                        </div>
                    </div>
                    <div class="weapon center">
                        <div class="level">
                            Lv{{row.weaponData.level}}
                        </div>
                        <div class="weapon-pic">
                            <img src="{{row.weaponData.weapon.iconUrl}}" onerror="this.style.display='none'">
                        </div>
                        <div class="reson reson-{{row.weaponData.resonLevel}}">
                            {{row.weaponData.resonLevel}}
                        </div>
                        <div class="name">
                            {{row.weaponData.weapon.weaponName}}
                        </div>
                    </div>
                    <div class="uid center current-user">
                        {{row.uid}}
                    </div>
                    <div class="phantom center">
                        <div class="phantom-pic">
                            {{if row.phantomData.equipPhantomList.length}}
                                <img src="{{row.phantomData.equipPhantomList[0].phantomProp.iconUrl}}" onerror="this.style.display='none'">
                            {{/if}}
                        </div>
                        <div class="phantom-rank" style="background-color: {{row.phantomData.statistic.color}};">
                            {{row.phantomData.statistic.rank}}
                        </div>
                        <div class="phantom-score">
                            {{typeof row.phantomData.statistic.totalScore === 'number' ?
                            row.phantomData.statistic.totalScore.toFixed(2) : row.phantomData.statistic.totalScore}}
                        </div>
                    </div>
                </li>
                {{/each}}
                {{/if}}
            </ul>
        </div>
        <div id="copyright">{{@copyright}}</div>
    </div>
</body>

</html>
