<!doctype html>
<html>

<head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <link rel="shortcut icon" href="#" />
    <link rel="stylesheet" type="text/css" href="{{pluginResources}}/Template/exploreIndex/exploreIndex.css" />
    <link rel="preload" href="{{pluginResources}}/fonts/Guruwords.ttf" as="font" />
</head>

<body id="body" {{sys.scale}}>
    <div>
        <div id="account">
            {{if avatarUrl}}<img src="{{avatarUrl}}" id="user-avatar">{{/if}}
            <div id="user-name">{{baseData.name}}</div>
            <div id="user-uid">{{baseData.id}}</div>
        </div>

        {{each exploreData country}}
        <div class="country">
            <div class="title">
                <img src="{{country.country.detailPagePic}}">
                <div class="exploratory-text">
                    <div class="exploratory-name">{{country.country.countryName}}</div>
                    <div class="exploratory-degree">探索度：{{country.countryProgress}}%</div>
                </div>
            </div>
            {{each country.areaInfoList area}}
            <div class="area">
                <div class="area-name">
                    <div class="area-key">{{area.areaName}}</div>
                    <div class="area-value">{{area.areaProgress}}%</div>
                </div>
                <div class="progress-row">
                    {{each area.itemList row idx}}
                    {{if row.progress < 100}}
                    <div class="progress-item">
                        <div class="progress-fill color-{{idx % 5}}" data-degree="{{row.progress}}"></div>
                        {{if row.icon}}<img class="progress-icon" src="{{row.icon}}">{{/if}}
                        <div class="progress-name">{{row.name}}</div>
                        <div class="progress-number">{{row.progress}}%</div>
                    </div>
                    {{/if}}
                    {{/each}}
                </div>
            </div>
            {{/each}}
        </div>
        {{/each}}
        <div id="copyright">{{@copyright}}</div>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const progressFills = document.querySelectorAll(".progress-fill");
            progressFills.forEach(fill => {
                const degree = fill.getAttribute("data-degree");
                fill.style.width = degree + "%";
            });

            document.querySelectorAll(".country").forEach(country => {
                const areas = Array.from(country.querySelectorAll(".area"));
                areas.sort((a, b) => {
                    const aHasItems = a.querySelectorAll(".progress-item").length > 0 ? 1 : 0;
                    const bHasItems = b.querySelectorAll(".progress-item").length > 0 ? 1 : 0;
                    return aHasItems - bHasItems;
                });
                areas.forEach(area => country.appendChild(area));
            });
        });
    </script>
</body>

</html>